<div class="sidebar"?=>
  <ul>
    <a href="/birthday"><li>MY birthday</li></a>
    <a href="/christmas"><li>Christmas</li></a>
    <a href="/thanksgiving"><li>Thanksgiving</li></a>
    <a href="/halloween"><li>Halloween</li></a>
  </ul>
</div>