<div class="sidebar">
  <ul>
    <li><span class="bold">IS IT...</span></li>
    <a href="/birthday"><li>My Birthday</li></a>
    <a href="/christmas"><li>Christmas</li></a>
    <a href="/valentines"><li>Valentine's Day</li></a>
    <a href="/halloween"><li>Halloween</li></a>
    <a href="/newyears"><li>New Year's Eve</li></a>
    <a href="/fourthofjuly"><li>4th of July</li></a>
  </ul>
</div>