a { 
  color: inherit; 
  text-decoration: none;
}

.confetti {
  background-image: url('/images/confetti.gif')
}

.snow {
  background-image: url('/images/snow.gif');
  color: red;
  background-size: 100%;
}

h1 {
  font-size: 150px;
  font-family: 'Varela Round', sans-serif;
  color: #FF4040;
  text-align: center;
  padding-top: 15%;
}

.sidebar {
  height: 100%;
  width: 125px;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  display: block;
  position: absolute;
}

ul {
  font-family: 'Varela Round', sans-serif;
  font-size: 12pt;
  color: black;
  text-align: center;
  line-height: 2;
}

li:hover {
  background-color: white;
  cursor: pointer;
}